html {
  background-color: LightGrey;
}

body {
  margin: 2vh;
}

.drawing {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 50vh;
}

#instructions {
  display: block;
  width: 720px;
  outline: dashed 2px black;
  margin: auto;
}

.back-button {
  display: block;
  margin: auto;
  padding-top: 4em;
  padding: 2em;
  padding-left: 0em;
  text-align: center;
}

a {
  font-family: sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 1em;
  color: black;
  outline: dashed 2px white;
}

a:hover {
  background-color: white;
  outline: dashed 2px black;
  transition-timing-function: ease-in;
  transition: background-color 0.5s, outline 0.5s;
  transition-delay: outline 0.5s;
}

a:visited {
  color: black;
}
