body {
  margin: 2vh;
  background-color: black;
}

img:not(#instructions) {
  border: 1px solid black;
  visibility: hidden;
  position: absolute;
  bottom: 110vh;
  width: 18vmin;
  height: auto;
  cursor: move;
}

#instructions {
  display: block;
  max-height: 86vh;
  max-width: 90vw;
  outline: solid 1px black;
  margin: auto;
}

.back-button {
  display: block;
  margin: auto;
  padding-top: 4em;
  padding: 2em;
  padding-left: 0em;
  text-align: center;
}

a {
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding: 1em;
  color: white;
  outline: dashed 1px white;
}

a:hover {
  background-color: white;
  outline: solid 1px black;
  transition-timing-function: ease-in;
  transition: background-color 0.5s, outline 0.5s;
  transition-delay: outline 0.5s;
}

a:visited {
  color: white;
}
