* {
  font-family: 'Garamond', serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#main, #webring {
  text-align: center;
  position: fixed;
  padding: 0px;
  margin: 0px;
  left: 0px;
  right: 0px;
}

#main {
  color: white;
  font-size: 4vmin;
  position: relative;
  padding-left: 24vw;
  padding-right: 24vw;
  top: 32vmin;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  cursor:inherit;
}

button:focus {
  outline: 0;
}

#webring {
  background-color: white;
  bottom: 0px;
  padding-bottom: 12vmin;
  padding-top: 2vmin;
  font-size: 3vmin;
  z-index: 1000;
}

.back:hover {
  transition: all 0.5s;
  text-shadow: 0 0 2px black;
  cursor: pointer;
}
