html {font-family: 'Expletus Sans', cursive;}

header {
  position: fixed;
  margin: auto;
  text-align: center;
  top: 0px;
  left: 0px;
  height: 124px;
  width: 100%
}

h1 {
  color: white;
  font-size: 42px;
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.04em;
}

section {
  padding: 18px;
  text-align:center
}

#buttonSection {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  float: left;
}

/* Style the video: 100% width and height to cover the entire window */
#backgroundVideo {
  position: fixed;
  vertical-align: center;
  margin: auto;
  left: -96px;
  right: -96px;
  top: -96px;
  bottom: -96px;
  min-width: 100%;
  min-height: 116%;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

footer {
  background-color: transparent;
  width: 100%;
  height: 72px;
  bottom: 0;
  font-size: 20px;
  left: 0;
  position: fixed;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
}

a:link {color: white;text-decoration: none;}
a:visited {color: white;text-decoration: none;}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    border-style: none;
    border-bottom: 5px solid white;
    color: white;
    font-size: 28px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 2px;
    padding-left: 2px;
    font-family: inherit;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    color: OrangeRed;
    padding: 6px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  border-color: red;
}
