* {
  font-family: 'Garamond', serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#analogies-container, #menu, #webring, #toggleButton {
  text-align: center;
  position: fixed;
  padding: 0px;
  margin: 0px;
  left: 0px;
  right: 0px;
}

#analogies-container {
  overflow: visible;
  font-size: 3vmin;
  top: 16vmin;
}

.analogy-item {
  vertical-align: bottom;
  display: inline;
  padding: 2vmin 0px 2vmin 0px;
  background: white;
}

#menu {
  font-size: 8vmin;
  position: relative;
  padding-left: 14vw;
  padding-right: 14vw;
  top: 32vmin;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  cursor:inherit;
}

a:hover {
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-bottom: 0.3em;
}

/* Menu dropdown buttons and link buttons */
.dropbtn, .btn {
    background-color: transparent;
    font-family: inherit;
    border-style: none;
    font-size: 8vmin;
    padding: 0px 0px 4px 4px;
}

.dropdown-content {
  display: none;
  position: relative;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  display: block;
  padding: 1vmin 1.5vmin;
  text-decoration: none;
  text-align: left;
  font-size: 2.5vmin;
  letter-spacing: 0.04em;
}

.dropdown-item:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  transition: all 2s linear;
  display: block;
}

.dropdown:hover .dropbtn {
  cursor:inherit;
  border-style: none;
}

.dropdown:hover .btn {
  cursor:inherit;
  border-bottom: 1vmin solid black;
}


button:focus {
  outline: 0;
}

#webring {
  background-color: white;
  bottom: 0px;
  padding-bottom: 12vmin;
  padding-top: 2vmin;
  font-size: 3vmin;
  z-index: 1000;
}

.home {
  font-size: 4vmin;
}
.previous:hover, .home:hover, .next:hover {
  transition: all 0.5s;
  text-shadow: 0 0 2px black;
  cursor: pointer;
}

#toggleButton {
  font-size: 3vmin;
  position: fixed;
  bottom: 7vmin;
  width: 100vw;
  z-index: 1001;
  margin: auto;
}

#toggleButton:hover {
  cursor: pointer;
}
.s:hover {
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}
.s, .r, .b, .s:hover, .r:hover, .b:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s
}
.r:hover {
  color: red;
}

.b:hover {
  filter: blur(3px);
}

.switch {
  position: fixed;
  display: block;
  width: 3.8vmin;
  height: 0vmin;
  z-index: 1002;
  border: 1px solid black;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  left: 0.1vmin;
  bottom: -0.1vmin;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6vmin;
  width: 1.6vmin;
  bottom: 0vmin;
  border: 2px solid black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  z-index: 1002;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5vmin);
  -ms-transform: translateX(1.5vmin);
  transform: translateX(1.5vmin);
}
