* {
  font-family: 'Garamond', serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: black;
}

#dragme, #bottom-links {
  text-align: center;
  position: fixed;
  padding: 0px;
  margin: 0px;
  left: 0px;
  right: 0px;
}

#dragme, #dragme-background {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

#dragme {
  width: 560px;
  height: 560px;
}

#dragme-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vmin;
  display: none
}

#dragme-background {
  width: 190px;
  height: 190px;
  background-color: DimGrey;
  filter: blur(80px);
  border-radius: 50%;
  transition: all 1s;
}

#dragme-text {
  pointer-events: none;
}

#dragme-text:hover, #dragme-background:hover {
  cursor: move;
}

#dragme-background:hover {
  transition: all 1s;
  background-color: white;
  filter: blur(30px);
  width: 288px;
  height: 288px;
}


a:link, a:visited {
  color: black;
  text-decoration: none;
  cursor:inherit;
}

button:focus {
  outline: 0;
}

#bottom-links, #bottom-links a {
  background-color: transparent;
  color: WhiteSmoke;
  bottom: 0px;
  margin-bottom: 12vmin;
  margin-top: 2vmin;
  font-size: 2vmin;
  z-index: 1000;
  line-height: 1.8em;
}

.smallLink:link, .smallLink:visited {
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: underline;
}

.smallLink:hover {
  transition: all 0.5s;
  text-shadow: 0 0 2vmin white, 0 0 1vmin white;
}

#drag-description {
  font-size: 3.5vmin;
}
