* {
  font-family: 'Garamond', serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: black;
}

#dragme, #webring {
  text-align: center;
  position: fixed;
  padding: 0px;
  margin: 0px;
  left: 0px;
  right: 0px;
}

#dragme, #dragme-background {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

#dragme {
  width: 560px;
  height: 560px;
}

#dragme-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vmin;
}

#dragme-background {
  width: 260px;
  height: 260px;
  background-color: grey;
  filter: blur(64px);
  border-radius: 50%;
  transition: all 1s;
}

#dragme-text {
  pointer-events: none;
}

#dragme-text:hover, #dragme-background:hover {
  cursor: move;
}

#dragme-background:hover {
  transition: all 1s;
  background-color: white;
  filter: blur(30px);
  width: 288px;
  height: 288px;
}


a:link, a:visited {
  color: black;
  text-decoration: none;
  cursor:inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-bottom: 0.3em;
}

/* Menu dropdown buttons and link buttons */
.dropbtn, .btn {
    background-color: transparent;
    font-family: inherit;
    border-style: none;
    font-size: 8vmin;
    padding: 0px 0px 4px 4px;
}

.dropdown-content {
  display: none;
  position: relative;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  display: block;
  padding: 1vmin 1.5vmin;
  text-decoration: none;
  text-align: right;
  font-size: 2.5vmin;
  letter-spacing: 0.04em;
}

.dropdown-item:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  transition: all 2s linear;
  display: block;
}

.dropdown:hover .dropbtn {
  cursor:inherit;
  border-style: none;
}

.dropdown:hover .btn {
  cursor:inherit;
  border-bottom: 1vmin solid black;
}


button:focus {
  outline: 0;
}

#webring {
  background-color: white;
  bottom: 0px;
  padding-bottom: 12vmin;
  padding-top: 2vmin;
  font-size: 3vmin;
  z-index: 1000;
}

.previous:hover, .home:hover, .next:hover {
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  cursor: pointer;
}

.s:hover {
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}
.s, .r, .b, .s:hover, .r:hover, .b:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.r:hover {
  color: red;
}

.b:hover {
  filter: blur(3px);
}
