* {
  font-family: 'Garamond', serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: black;
  background: white;
  padding: 0px;
  margin: 0px;
}

div {
  display: inline-block;
}

img {
  height: 280px;
  padding: 0px;
}

#dragme {
  position: fixed;
  padding: 0px;
  margin: 4vmin;
  left: 0px;
  right: 0px;
}

#dragme, #dragme-background {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

#dragme {
  width: 100vw;
  height: 100vh;
  padding: 8vmin;
}

a:link, a:visited {
  text-decoration: none;
  cursor:inherit;
}

button:focus {
  outline: 0;
}
