* {
  font-family: 'Garamond', serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  background: black;
  padding: 0px;
  margin: 0px;
}

div {
  display: inline-block;
  padding-bottom: 2vmin;
  padding-right: 0.5vmin;
}

img {
  height: 280px;
  padding: 0px;
  align: top;
}

#img-container {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin:auto;
  width: 100vw;
  height: 100vh;
  padding: 8vmin;
}

a {
  font-size: 18px;
  position: relative;
  left: -26px;
  bottom: 8px;
  text-shadow: 0 0 2px white;
}
a:link, a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-stroke: 3px solid white;
}

button:focus {
  outline: 0;
}

@media screen and (max-width: 800px) {
  img {height: 140px}
}
