* {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#top-content {
  text-align: center;
}
body {
  background: black;
  color: white;
}

a, a:link, a:visited {
  color: white;
  text-decoration: none;
  cursor:inherit;
}

button:focus {
  outline: 0;
}

#dragme, #bottom-links {
  text-align: center;
  position: fixed;
  padding: 0px;
  margin: 0px;
  left: 0px;
  right: 0px;
}

#dragme, #dragme-background {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

#dragme {
  width: 560px;
  height: 560px;
}

#dragme-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vmin;
  display: none
}

#dragme-background {
  width: 190px;
  height: 190px;
  background-color: DimGrey;
  filter: blur(60px);
  border-radius: 50%;
  transition: all 1s;
  overflow:auto;
}

#dragme-text {
  pointer-events: none;
}

#dragme-text:hover, #dragme-background:hover {
  cursor: move;
}

#dragme-background:hover {
  transition: all 1s;
  background-color: white;
  filter: blur(30px);
  width: 288px;
  height: 288px;
}

#bottom-links, #bottom-links a {
  background-color: transparent;
  color: WhiteSmoke;
  bottom: 0px;
  margin-bottom: 10vmin;
  margin-top: 2vmin;
  font-size: 1.8vmin;
  z-index: 1000;
  font-size: 2vmin;
  line-height: 1.3em;
}

.smallLink:link, .smallLink:visited {
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: underline;
}

#drag-description {
  font-size: 3.5vmin;
  line-height: 1.7em;
}

#noLine {
  text-decoration: none;
}

.slider {
    -webkit-appearance: none;
    width: 3vmin;
    height: 1px;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: block;
    margin: auto;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.3vmin;
    height: 1.3vmin;
    background: black;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 1.3vmin;
    height: 1.3vmin;
    background: black;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50%;
}

#slider-block {
  margin: auto;
}
.slider-container {
  display: inline-block;
  font-size: 1.5vmin;
}

#light-label {
  letter-spacing: 0.03vmin;
}
