body, html {
  margin: 0;
  padding: 0;
}

img {
  width:100vw;
  height: auto;
  display: none;
}

#baby {display: none;}
#man-1 {display: none;}
#man-2 {display: none;}
#man-3 {display: none;}
#woman-jar-1 {display: none;}
#woman-jar-2 {display: none;}
#woman-motion {display: none;}
#woman-older {display: block;}
#woman-teeth-1 {display: none;}
#woman-teeth-2 {display: none;}
#woman-younger {display: none;}

@media screen and (max-width: 2200px) {
  #baby {display: none;}
  #man-1 {display: none;}
  #man-2 {display: none;}
  #man-3 {display: none;}
  #woman-jar-1 {display: none;}
  #woman-jar-2 {display: none;}
  #woman-motion {display: block;}
  #woman-older {display: none;}
  #woman-teeth-1 {display: none;}
  #woman-teeth-2 {display: none;}
  #woman-younger {display: none;}
}

@media screen and (max-width: 1800px) {
  #baby {display: none;}
  #man-1 {display: none;}
  #man-2 {display: none;}
  #man-3 {display: none;}
  #woman-jar-1 {display: none;}
  #woman-jar-2 {display: block;}
  #woman-motion {display: none;}
  #woman-older {display: none;}
  #woman-teeth-1 {display: none;}
  #woman-teeth-2 {display: none;}
  #woman-younger {display: none;}
}

@media screen and (max-width: 1600px) {
  #baby {display: none;}
  #man-1 {display: none;}
  #man-2 {display: none;}
  #man-3 {display: none;}
  #woman-jar-1 {display: block;}
  #woman-jar-2 {display: none;}
  #woman-motion {display: none;}
  #woman-older {display: none;}
  #woman-teeth-1 {display: none;}
  #woman-teeth-2 {display: none;}
  #woman-younger {display: none;}
}

@media screen and (max-width: 1400px) {
  #baby {display: none;}
  #man-1 {display: none;}
  #man-2 {display: none;}
  #man-3 {display: none;}
  #woman-jar-1 {display: none;}
  #woman-jar-2 {display: none;}
  #woman-motion {display: none;}
  #woman-older {display: none;}
  #woman-teeth-1 {display: block;}
  #woman-teeth-2 {display: none;}
  #woman-younger {display: none;}
}

@media screen and (max-width: 1200px) {
  #baby {display: none;}
  #man-1 {display: none;}
  #man-2 {display: none;}
  #man-3 {display: none;}
  #woman-jar-1 {display: none;}
  #woman-jar-2 {display: none;}
  #woman-motion {display: none;}
  #woman-older {display: none;}
  #woman-teeth-1 {display: none;}
  #woman-teeth-2 {display: block;}
  #woman-younger {display: none;}
}

@media screen and (max-width: 1000px) {
  #baby {display: none;}
  #man-1 {display: none;}
  #man-2 {display: none;}
  #man-3 {display: none;}
  #woman-jar-1 {display: none;}
  #woman-jar-2 {display: none;}
  #woman-motion {display: none;}
  #woman-older {display: none;}
  #woman-teeth-1 {display: none;}
  #woman-teeth-2 {display: none;}
  #woman-younger {display: block;}
}

@media screen and (max-width: 800px) {
  #baby {display: none;}
  #man-1 {display: none;}
  #man-2 {display: none;}
  #man-3 {display: block;}
  #woman-jar-1 {display: none;}
  #woman-jar-2 {display: none;}
  #woman-motion {display: none;}
  #woman-older {display: none;}
  #woman-teeth-1 {display: none;}
  #woman-teeth-2 {display: none;}
  #woman-younger {display: none;}
}

@media screen and (max-width: 600px) {
  #baby {display: block;}
  #man-1 {display: none;}
  #man-2 {display: none;}
  #man-3 {display: none;}
  #woman-jar-1 {display: none;}
  #woman-jar-2 {display: none;}
  #woman-motion {display: none;}
  #woman-older {display: none;}
  #woman-teeth-1 {display: none;}
  #woman-teeth-2 {display: none;}
  #woman-younger {display: none;}
}
