html {
  font-family: Courier, monospace;
}

.A mark {
  background-color: red;
}

.B mark {
  background-color: blue;
}

.C mark {
  background-color: green;
}

p {
  padding: 0px;
  font-size: 16px;
  margin: 0.2em;
}

span {
  line-height:1.6em;
}
mark {
  font-size: 14px;
  line-height:1.6em;
  color: white;
  padding:0.2em;
  padding-left:0.6em;
}

#text-container, #response-container {
  width: 580px;
}

@media screen and (max-width: 1180px) {
  #text-container {
    width: 50%;
  }
  #response-container {
    width: 50%;
  }
}

@media screen and (max-width: 1080px) {
  #text-container {
    padding-bottom: 1em;
    width: 530px;
  }
  #response-container {
    padding-bottom: 1em;
    width: 530px;
  }
}

@media screen and (max-width: 540px) {
  #text-container {
    padding-bottom: 1em;
    width: 100%;
  }
  #response-container {
    padding-bottom: 1em;
    width: 100%;
  }
}

div {
  display: inline;
  float: left;
  padding: 0px;
}

a {
  background-color: red;
  color: white;
  padding: 0.2em 0.4em 0.2em 0.4em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
