* {
  padding: 0;
  margin: 0;
  font-family: 'Bell Gothic';
  cursor: crosshair;
}

body {
  background-color: DarkSlateBlue;
  color: white;
  font-size: 8vmin;
}

#top {
  position: fixed;
  top: 0.7vmin;
  left: 0.7vmin;
  z-index: 1000;
}

#title a {
  letter-spacing: -0.5vmin;
  z-index: 1000;
}
#contributors {
  font-size: 5vmin;
  z-index: 1000;
}
#bottom {
  position: fixed;
  bottom: 0vmin;
  left: 0.7vmin;
  font-size: 5vmin;
  z-index: 1000;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: yellow;
}

#cursor {
  position: fixed;
  width: 800px;
  height: 800px;
  background-color:crimson;
  filter:blur(200px);
  border-radius:50%;
  pointer-events:none;
  opacity: 0.7;
}

#links-background {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 13vmin;
  background: crimson;
  opacity: 0.5;
}

#links {
  position: fixed;
  right: 2vmin;
  bottom: 0px;
  width: 100vw;
  height: 13vmin;
  text-align: right;
  font-size: 2.2vmin;
  z-index: 1;
  margin-top: 1vmin;
}

#links a {
  z-index: 10000;
}
