body {
  color: LightYellow;
}

h1, h3, h5 {
  background-color:inherit;
  z-index: 1000;
  position:fixed;
  left:32px;
  padding-right:0.25em;
}

#page-links {
  background-color: black;
  z-index: 1000;
  position:fixed;
  top: 236px;
  left:32px;
  color: white;
}

a {
  color: LightYellow;
  padding-right:0.25em;
}
