* {
  background-color: white;
  font-family: monospace;
  text-align: center;
  font-size: 5vmin;
  color: black;
  padding: 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#analogies-container {
  background-color: white;
  overflow: visible;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 20vh 6vw 12vh 6vw;
}

p {
  background-color: white;
  vertical-align: bottom;
  display: inline;
  padding: 1vmin 0px 1vmin 0px;
}
